<hr class="my-2">
<p class="h1 text-center bg-light w-50 mx-auto rounded">Edit Student Details</p>
<hr class="mt-2 mb-4">
<div class="bg-light p-4 border rounded w-auto mx-5 mt-2 mb-2">

<%= render 'form', student: @student %>
</div>

