<div class="row">
    <div class="bg-light p-4 border rounded w-auto mx-5 mt-2 mb-3">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-5">Learn to Swim</h1>
                <p class="lead">Find the right instructor for your child and have them come to you!</p>
                <hr class="my-4">
                <p> Some blurb about what it's all about </p>
                <%= link_to "Parent Sign Up", new_user_registration_path, class:"btn btn-primary btn-lg mt-4"%>
            </div>
            <div class="col-md-6">
            <%= image_tag "learnswim.jpg", class: "home-image" %>
            </div>
    </div>
        </div>
    <div class="bg-light p-4 border rounded w-auto mx-5 mb-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-5">Become an Instructor</h1>
                <p class="lead">Bring your passion for swim teaching to peoples homes</p>
                <hr class="my-4">
                <p>Another blurb about being a teaching and such</p>
                <%= link_to "Instructor Sign Up", new_instructor_registration_path, class:"btn btn-primary btn-lg mt-4"%>
            </div>
            <div class="col-md-6">
            <%= image_tag "instructor.jpg", class: "home-image" %>
            </div>
        </div>
    </div>
</div>