<hr class="my-2">
<p class="h1 text-center bg-light w-50 mx-auto rounded">Select Timeslot</p>
<hr class="mt-2 mb-4">
<div class="d-flex flex-wrap bg-light p-4 border rounded w-auto mx-5 mt-2 mb-2">
<% @timeslots.order(:id).each do |timeslot| %>
    <% if timeslot.available && @bookings.where(timeslot_id: timeslot.id).first.blank? %>
    <%= link_to new_booking_path(timeslot_id: timeslot.id, instructor_id: params[:instructor_id])  do %>
    <div class="border rounded m-1 p-2 text-primary">
    <p class = "m-0">
    <strong><%= @daytime.find("#{timeslot.daytime_id}").weekday %></strong>:
    <%= @daytime.find("#{timeslot.daytime_id}").time %>
    </p>
    </div>
    <%end%>
  <%end %>
<%end%>
</div>
<div class="p-4 w-auto mx-5 mt-2 mb-3">
<%= link_to 'Back to Instructors', view_instructors_path, class: 'btn btn-primary'%>
</div>
