<hr class="my-2">
<p class="h1 text-center bg-light w-50 mx-auto rounded">Find an Instructor</p>
<hr class="my-2">
<div class="d-flex flex-wrap bg-light p-4 border rounded w-auto mx-5 mt-2 mb-3">
<% @instructors.each do |instructor|%>
    <div class="card mx-3 my-3" style="width: 18rem;">
        <% if instructor.profile_picture.attached? %>
            <%= image_tag instructor.profile_picture, class: "card-img-top card-pic"%>
        <% else %>
            <%= image_tag "defaultpp.png", class: "card-img-top card-pic"%>
        <% end%>
        <div class="card-body">
            <h5 class="card-title"><%= "#{instructor.firstname} #{instructor.lastname}"%></h5>
            <p class="card-text">Instructor skills would go here</p>
            <%= button_to "Book Instructor", show_timeslot_path, class: "btn btn-primary", params: {instructor_id: instructor.instructor_id}, method: :get %>
        </div>
    </div>
<%end%>
</div>
